<ul class="pagination" *ngIf="hasPagination()">
  <!-- Previous -->
  <li
    class="page-item"
    [ngClass]="{ disabled: currentPageIndex() === 1 }"
    (click)="
      currentPageIndex() > 1 &&
        offsetChange.emit((currentPageIndex() - 2) * limit())
    "
  >
    <a class="page-link">&lt;</a>
  </li>

  <ng-container *ngFor="let page of pagesToShow(); let i = index">
    <!-- Ellipsis -->
    <li
      *ngIf="i > 0 && page - pagesToShow()[i - 1] > 1"
      class="page-item disabled"
    >
      <span class="page-link">...</span>
    </li>

    <!-- Page number -->
    <li
      (click)="offsetChange.emit((page - 1) * limit())"
      class="page-item"
      [ngClass]="{ active: currentPageIndex() === page }"
    >
      <a class="page-link">{{ page }}</a>
    </li>
  </ng-container>

  <!-- Next -->
  <li
    class="page-item"
    [ngClass]="{ disabled: currentPageIndex() === totalPage() }"
    (click)="
      currentPageIndex() < totalPage() &&
        offsetChange.emit(currentPageIndex() * limit())
    "
  >
    <a class="page-link">&gt;</a>
  </li>
</ul>
