<div class="login">
  <h1>Sign in</h1>
  <a routerLink="/register" class="register">Need an account?</a>

  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
    <app-form-errors [errorResponse]="errorResponse"></app-form-errors>
    <input
      type="email"
      formControlName="email"
      class="form-control form-control-lg"
      autocomplete="new-email"
      placeholder="Email"
    />
    <input
      type="password"
      formControlName="password"
      class="form-control form-control-lg"
      autocomplete="new-password"
      placeholder="Password"
    />
    <button type="submit" class="btn sign-in-btn btn-lg">
      Sign in
    </button>
  </form>
</div>
