:root {
  --green-color: #5cb85c;
  --extra-green-color: #449d44;
  --blue-black-color: #3a4551;
  --gray-color: #818a91;
  --extra-gray-color: #687077;
  --white-gray-color: #f5f5f5;
  --extra-white-gray-color: #dad8d8;
  --red-color: #b85c5c;
  --white-color: #fff;
}
