/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Source Sans Pro";
  src: url(./assets/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: "Titillium Web";
  src: url(./assets/fonts/TitilliumWeb-Bold.ttf);
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
