<div class="register">
  <h1>Sign up</h1>
  <a routerLink="/login" class="login">Have an account?</a>

  <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form">
    <app-form-errors [errorResponse]="errorResponse"></app-form-errors>
    <input
      type="text"
      formControlName="username"
      class="form-control form-control-lg"
      autocomplete="new-username"
      placeholder="Username"
    />
    <input
      type="email"
      formControlName="email"
      class="form-control form-control-lg"
      autocomplete="new-email"
      placeholder="Email"
    />
    <input
      type="password"
      formControlName="password"
      class="form-control form-control-lg"
      autocomplete="new-password"
      placeholder="Password"
    />
    <button type="submit" class="btn sign-up-btn btn-lg">
      Sign up
    </button>
  </form>
</div>
